@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
  
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
/* .blocke{
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
} */
.glow-on-hover {
    transition: all 0.3s ease;
  }
  
  .glow-on-hover:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
  }
  
  /* Add this to your CSS or inside a <style> tag */
.slide-enter {
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  
  .slide-enter-active {
    transform: translateX(0);
    opacity: 1;
  }
  
  .slide-exit {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s ease-out;
  }
  
  .slide-exit-active {
    transform: translateX(-100%);
    opacity: 0;
  }
  